@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Jura:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Titulo{
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
}

.tituloImg{
  display: block;
  height: 150px;
  margin: 0 auto;
}

hr{
  margin: 0 15%;
  border: 2px solid #002f49
}

.fila{
  display: flex;
  justify-content: center;
}

.card{
  display: inline-block;
  background-color: #e9e2b8;
  width: 300px;
  height: 530px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #011018;
  margin: 15px 10px;
  padding: 0 10px;
  text-align: center;
  background-image: url("img/Esferas.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: top 5% center;
}

.img{
  height: 55%;
  filter: drop-shadow(0 0 8px #011018);
  display: block;
  margin: 15px auto 0;
}

h1{
  font-family: "Bowlby One", sans-serif;
  color: chocolate;
  filter: drop-shadow(1px 1px #000);
  margin: 5px 0;
  letter-spacing: 1.5px;
  font-size:x-large;
}

p{
  font-family: "Jura", sans-serif;
  font-weight: bolder;
}

.info{
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  text-decoration: none;
  display:inline-block;
  color: #fff;
  background-color: #002f49;
  padding: 10px 30px;
  border-radius: 10px;
  margin: 15px;
  box-shadow: 0 0 3px #000;
}
